APP_NAME=DSRC
APP_URL=http://localhost:3000
APP_STATE=development

JWT_SECRET=
DATABASE_URL="postgresql://your_user:your_password@localhost:5432/your_database_name?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/auth/callback/google/